spring:
  application:
    name: java-interpreter-server

eureka:
  instance:
    # this is expected to be overridden with the value of the environment
    # it will work fine if eureka server is running on the local machine though
    hostname: localhost
    port: 8761
    preferIpAddress: true

  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${eureka.instance.port}/eureka/

